<section class="section row">
    <div class="section-header" style="margin-bottom: 30px;">
        <h4>Mis Cursos</h4>
        <a *ngIf="userRol=='DOCENTE'" class="btn btn-primary" [routerLink]="['/app-form-curso/',0]">+ Crear Nuevo Curso</a>
    </div>
    <div *ngFor="let c of cursos " class="col-lg-4 col-md-6">
        <a [routerLink]="['/curso/' + c.id]" class="no-underline">
            <div class="card-louk-2">
                <div class="card-body card-body-louk">
                    <div class="col-md-12 col-7 image-container-louk">
                        <img [src]="c.imagen" class="card-img-top h-100" alt="{{ c.nombre }}" />
                        <div class="col-8 text-overlay">
                            <p class="col-3 price-tag-louk">
                                {{ c.precio | currency : "$" : true : "1.2-2" }}
                            </p>
                        </div>
                    </div>
                    <div class="card-descrip-louk row"> 
                        <div class="col-8">
                            <h5>{{ c.nombre }}</h5>
                            <p class="card-text">Modalidad: {{ c.modalidad }}</p>
                        </div>
                        <div class="col-4">
                            <p>Inicio: {{ c.fechaInicio | date : "dd/MM/yyyy" }}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>