<footer class="footer footer-louk">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Sobre Nosotros</h5>
          <p>Somos una empresa dedicada a ofrecer los mejores cursos en línea para potenciar tus habilidades.</p>
        </div>
        <div class="col-md-4">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li>Teléfono: (123) 456-7890</li>
            <li>Email: infoempresa.com</li>
            <li>Dirección: Calle Falsa 123, Ciudad, País</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Síguenos</h5>
          <div class="social-links">
            <a href="https://facebook.com" target="_blank" class="btn-social-louk">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="btn-social-louk">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="mailto:info@empresa.com" class="btn-social-louk">
              <i class="fas fa-envelope"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-center">
          <p>&copy; 2024 Empresa. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </footer>
  