<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row w-100">
    <div class="col-md-6 col-lg-4 mx-auto">
      <div class="card shadow-sm">
        <div class="card-body p-4">
          <h2 class="card-title text-center mb-4">Inicio de Sesión</h2>
          <form>
            <div class="mb-3">
              <label for="username" class="form-label">Nombre de usuario</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Introduce tu nombre de usuario"
                required
                name="username" [(ngModel)]="usuarioForm.nombreUsuario"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Introduce tu contraseña"
                required
                name="password" [(ngModel)]="usuarioForm.password"
              />
            </div>
            <button type="submit" class="btn btn-primary w-100" (click)="login()">
              Iniciar sesión
            </button>
            <div class="text-center mt-3">
              <a href="#" class="text-decoration-none"
                >¿Olvidaste tu contraseña?</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
